<!DOCTYPE html>
<html lang="en">
<body>
	<div class="container">
		<h2>Lista de Usuarios</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Email</th>
						<th>Status</th>
						<th>Login</th>
						<th>Admin</th>
						<th>Status</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of userList">
						<td>{{user.id}}</td>
						<td>{{user.email}}</td>
						<td>{{user.login}}</td>
						<td>{{user.admin}}</td>
						<td>{{user.status}}</td>
						<td> <a th:href="" [routerLink]="['/users/edit']" [queryParams]="{id:user.id}" >editar</a></td>
						<td> <a th:href="" (click)="deleteUser(user)">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>