<h2>Menu de navegacion</h2>
<ul>
    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
    <li><a [routerLink]="['/users/list']" routerLinkActive="router-link-active" >Listar Usuarios</a></li>
    <li><a [routerLink]="['/users/add']" routerLinkActive="router-link-active" >Añadir Usuarios</a></li>
    <li><a [routerLink]="['/categories/list']" routerLinkActive="router-link-active" >Listar Categorias</a></li>
    <li><a [routerLink]="['/categories/add']" routerLinkActive="router-link-active" >Añadir Categoria</a></li>
    <!--<li><a [routerLink]="['/tasks/list']" routerLinkActive="router-link-active" >Listar Tareas</a></li>
    <li><a [routerLink]="['/tasks/add']" routerLinkActive="router-link-active" >Añadir Tareas</a></li>-->
</ul>
