<!DOCTYPE html>
<html lang="en">
<body>
	<div class="container">
		<h2>Lista de Tareas</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Título</th>
						<th>Comentarios</th>
						<th>Fecha Planeada</th>
						<th>Fecha Creación</th>
						<th>fecha Finalización</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of userList">
						<td>{{task.id}}</td>
						<td>{{task.title}}</td>
						<td>{{task.comments}}</td>
						<td>{{task.planned}}</td>
						<td>{{task.created}}</td>
						<td>{{task.finalized}}</td>

						<td> <a th:href="" (click)="deleteTask()">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>